In [1]:
# import
import pandas as pd

In [2]:
df = pd.read_csv(r'../Datasets/realtor-data.zip.csv')
df.head(5)

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,NaN,105000.0
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,NaN,80000.0
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,NaN,67000.0
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,NaN,145000.0
4,for_sale,6.0,2.0,0.05,Mayaguez,Puerto Rico,680.0,NaN,NaN,65000.0

In [6]:
# 2. Hər bir sütunda olan kateqorik dəyərlərin unique sayını taparaq hansının kateqoriya olduğunu təsbit edin
category = df.nunique()
print(category)

status                2
bed                  48
bath                 42
acre_lot           4488
city               3512
state                19
zip_code           4220
house_size         6855
prev_sold_date    10319
price              8735
dtype: int64

In [4]:
# 3. Nulların sayını tapın
null_counts = df.isnull().sum()
print(null_counts)

status                 0
bed               216528
bath              194213
acre_lot          357467
city                 191
state                  0
zip_code             479
house_size        450112
prev_sold_date    686293
price                108
dtype: int64

In [5]:
# 4. Dublikatları təmizləyin
duplicat = df.drop_duplicates()
print(duplicat)

           status   bed  bath  acre_lot         city        state  zip_code  \
0        for_sale   3.0   2.0      0.12     Adjuntas  Puerto Rico     601.0
1        for_sale   4.0   2.0      0.08     Adjuntas  Puerto Rico     601.0
2        for_sale   2.0   1.0      0.15   Juana Diaz  Puerto Rico     795.0
3        for_sale   4.0   2.0      0.10        Ponce  Puerto Rico     731.0
4        for_sale   6.0   2.0      0.05     Mayaguez  Puerto Rico     680.0
...           ...   ...   ...       ...          ...          ...       ...
1401002  for_sale   3.0   2.0      0.22   Friendship     New York   14739.0
1401048  for_sale   1.0   1.0      0.25  Forestville     New York   14062.0
1401058  for_sale   3.0   2.0      3.00        Gerry     New York   14740.0
1401059  for_sale   5.0   2.0      0.55      Brocton     New York   14716.0
1401063  for_sale  10.0   4.0      0.43      Brocton     New York   14716.0

         house_size prev_sold_date     price
0             920.0            NaN  105000.0
1            1527.0            NaN   80000.0
2             748.0            NaN   67000.0
3            1800.0            NaN  145000.0
4               NaN            NaN   65000.0
...             ...            ...       ...
1401002       532.0     2004-06-22  118500.0
1401048       696.0            NaN  139000.0
1401058      1568.0     1999-12-27  189900.0
1401059      4260.0            NaN   95000.0
1401063      4802.0     1994-12-01  120000.0

[152040 rows x 10 columns]

In [8]:
# 5. Təsbit etdiyiniz kateqorik sütununun sayını, std və ortalamasını tapın
categorical = category[category < category.max()].index.tolist()
categorical = categorical[0] if categorical else None

if categorical:
    group_stats_before = df.groupby(categorical).size().reset_index(name='count')
print(categorical)

status

In [12]:
# 6. Sayına əsasən uyğun bildiyiniz sətirləri həmin kateqoriyaya görə drop edin (Group by edin)
column_drop = category.idxmin()
if column_drop != categorical:
    data = df.drop(columns=[column_drop])
print(column_drop)

status

In [13]:
# 7. Yenidən say, std və ortalamaya baxın
group_after = df.groupby(categorical).size().reset_index(name='count') if categorical else pd.DataFrame()
print(group_after)

           status    count
0        for_sale  1399134
1  ready_to_build     1932

In [15]:
# 8.Sayları uyğun olan sütunları kateqorikləşdirib bunlara uyğun yeni sütunlar yaradın. Daxilində True/False olmalıdı
numeric = df.select_dtypes(include=['number']).columns
stats = df[numeric].agg(['std', 'mean'])
matching = stats.columns[stats.nunique() <= 1]
print(numeric)
print(stats)
print(matching)

Index(['bed', 'bath', 'acre_lot', 'zip_code', 'house_size', 'price'], dtype='object')
           bed      bath     acre_lot     zip_code   house_size         price
std   2.051858  1.873599  1249.982872  4130.464767  3492.618042  2.683069e+06
mean  3.392347  2.487426    32.150131  8356.640636  2178.642539  8.186029e+05
Index([], dtype='object')

In [16]:
# 9.Yeni sütunları yaratdıqdan sonra əsaslandığınız column u drop edin. Lazım olmayacaq.
data = df.drop(columns=matching)
print(data)

           status   bed  bath  acre_lot          city        state  zip_code  \
0        for_sale   3.0   2.0      0.12      Adjuntas  Puerto Rico     601.0
1        for_sale   4.0   2.0      0.08      Adjuntas  Puerto Rico     601.0
2        for_sale   2.0   1.0      0.15    Juana Diaz  Puerto Rico     795.0
3        for_sale   4.0   2.0      0.10         Ponce  Puerto Rico     731.0
4        for_sale   6.0   2.0      0.05      Mayaguez  Puerto Rico     680.0
...           ...   ...   ...       ...           ...          ...       ...
1401061  for_sale   NaN   NaN    155.00    Perrysburg     New York   14129.0
1401062  for_sale   4.0   2.0      0.36  Silver Creek     New York   14136.0
1401063  for_sale  10.0   4.0      0.43       Brocton     New York   14716.0
1401064  for_sale   2.0   2.0      0.14       Dunkirk     New York   14048.0
1401065  for_sale   5.0   2.0      0.14        Angola     New York   14006.0

         house_size prev_sold_date     price
0             920.0            NaN  105000.0
1            1527.0            NaN   80000.0
2             748.0            NaN   67000.0
3            1800.0            NaN  145000.0
4               NaN            NaN   65000.0
...             ...            ...       ...
1401061         NaN            NaN  325000.0
1401062      2026.0     2000-09-01  187900.0
1401063      4802.0     1994-12-01  120000.0
1401064      1568.0     2003-04-15   92000.0
1401065      1908.0     2016-01-12   99900.0

[1401066 rows x 10 columns]

In [17]:
# 10. Flag tipinə uyğun olan sütunların dəyərlərini 0 və 1 ilə əvəz edin. 
flag = df.select_dtypes(include=['bool']).columns
data[flag] = df[flag].astype(int)
print(data)

           status   bed  bath  acre_lot          city        state  zip_code  \
0        for_sale   3.0   2.0      0.12      Adjuntas  Puerto Rico     601.0
1        for_sale   4.0   2.0      0.08      Adjuntas  Puerto Rico     601.0
2        for_sale   2.0   1.0      0.15    Juana Diaz  Puerto Rico     795.0
3        for_sale   4.0   2.0      0.10         Ponce  Puerto Rico     731.0
4        for_sale   6.0   2.0      0.05      Mayaguez  Puerto Rico     680.0
...           ...   ...   ...       ...           ...          ...       ...
1401061  for_sale   NaN   NaN    155.00    Perrysburg     New York   14129.0
1401062  for_sale   4.0   2.0      0.36  Silver Creek     New York   14136.0
1401063  for_sale  10.0   4.0      0.43       Brocton     New York   14716.0
1401064  for_sale   2.0   2.0      0.14       Dunkirk     New York   14048.0
1401065  for_sale   5.0   2.0      0.14        Angola     New York   14006.0

         house_size prev_sold_date     price
0             920.0            NaN  105000.0
1            1527.0            NaN   80000.0
2             748.0            NaN   67000.0
3            1800.0            NaN  145000.0
4               NaN            NaN   65000.0
...             ...            ...       ...
1401061         NaN            NaN  325000.0
1401062      2026.0     2000-09-01  187900.0
1401063      4802.0     1994-12-01  120000.0
1401064      1568.0     2003-04-15   92000.0
1401065      1908.0     2016-01-12   99900.0

[1401066 rows x 10 columns]

In [26]:
# 11. Lazım olmayan sütunları drop edin
data_cleaned = df.drop(columns=column_drop, axis=1)
print(data_cleaned)

          bed  bath  acre_lot          city        state  zip_code  \
0         3.0   2.0      0.12      Adjuntas  Puerto Rico     601.0
1         4.0   2.0      0.08      Adjuntas  Puerto Rico     601.0
2         2.0   1.0      0.15    Juana Diaz  Puerto Rico     795.0
3         4.0   2.0      0.10         Ponce  Puerto Rico     731.0
4         6.0   2.0      0.05      Mayaguez  Puerto Rico     680.0
...       ...   ...       ...           ...          ...       ...
1401061   NaN   NaN    155.00    Perrysburg     New York   14129.0
1401062   4.0   2.0      0.36  Silver Creek     New York   14136.0
1401063  10.0   4.0      0.43       Brocton     New York   14716.0
1401064   2.0   2.0      0.14       Dunkirk     New York   14048.0
1401065   5.0   2.0      0.14        Angola     New York   14006.0

         house_size prev_sold_date     price
0             920.0            NaN  105000.0
1            1527.0            NaN   80000.0
2             748.0            NaN   67000.0
3            1800.0            NaN  145000.0
4               NaN            NaN   65000.0
...             ...            ...       ...
1401061         NaN            NaN  325000.0
1401062      2026.0     2000-09-01  187900.0
1401063      4802.0     1994-12-01  120000.0
1401064      1568.0     2003-04-15   92000.0
1401065      1908.0     2016-01-12   99900.0

[1401066 rows x 9 columns]