In [1]:
# import
import pandas as pd
import numpy as np

In [2]:
# Step 1
df = pd.read_csv(r'../Datasets/shopping_trends.csv')
df.head(5)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55.0,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14.0,Venmo,Fortnightly
1,2,19.0,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2.0,Cash,Fortnightly
2,3,50.0,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23.0,Credit Card,Weekly
3,4,21.0,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49.0,PayPal,Weekly
4,5,45.0,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31.0,PayPal,NaN

In [3]:
# Step 2
print(df.columns.tolist())

['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category', 'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season', 'Review Rating', 'Subscription Status', 'Payment Method', 'Shipping Type', 'Discount Applied', 'Promo Code Used', 'Previous Purchases', 'Preferred Payment Method', 'Frequency of Purchases']

In [4]:
# Step 2
print(df.describe())

       Customer ID          Age  Purchase Amount (USD)  Review Rating  \
count  3900.000000  3899.000000            3900.000000    3899.000000
mean   1950.500000    44.067966              59.764359       3.750244
std    1125.977353    15.209508              23.685392       0.716078
min       1.000000    18.000000              20.000000       2.500000
25%     975.750000    31.000000              39.000000       3.100000
50%    1950.500000    44.000000              60.000000       3.700000
75%    2925.250000    57.000000              81.000000       4.400000
max    3900.000000    70.000000             100.000000       5.000000

       Previous Purchases
count         3899.000000
mean            25.350090
std             14.448695
min              1.000000
25%             13.000000
50%             25.000000
75%             38.000000
max             50.000000

In [6]:
# Step 2
print(df.isnull().sum())

Customer ID                 0
Age                         1
Gender                      0
Item Purchased              4
Category                    0
Purchase Amount (USD)       0
Location                    1
Size                        0
Color                       1
Season                      0
Review Rating               1
Subscription Status         0
Payment Method              0
Shipping Type               1
Discount Applied            0
Promo Code Used             1
Previous Purchases          1
Preferred Payment Method    0
Frequency of Purchases      1
dtype: int64

In [7]:
# Step 3
for column in df.columns:
    if df[column].dtype == 'object': 
        df[column].fillna(df[column].mode()[0], inplace=True)
    else: 
        df[column].fillna(df[column].median(), inplace=True)
print(column)

Frequency of Purchases

In [8]:
# Step 4
purchase_amount = df['Purchase Amount (USD)'].agg(['min', 'max', 'mean'])
print(purchase_amount)

min      20.000000
max     100.000000
mean     59.764359
Name: Purchase Amount (USD), dtype: float64

In [9]:
# Step 4
previous_purchases = df['Previous Purchases'].agg(['sum', 'mean', 'count'])
print(previous_purchases)

sum      98865.00
mean        25.35
count     3900.00
Name: Previous Purchases, dtype: float64

In [10]:
# Step 4
group = df.groupby('Item Purchased').agg(
    {
    'Purchase Amount (USD)': ['min', 'max', 'mean'],
    'Previous Purchases': ['sum', 'mean', 'count']
    }
    )
print(group)

               Purchase Amount (USD)                 Previous Purchases  \
                                 min  max       mean                sum
Item Purchased
Backpack                          20   99  60.391608             3370.0
Belt                              20  100  59.844720             3877.0
Blouse                            20  100  60.691429             4699.0
Boots                             21  100  62.625000             3796.0
Coat                              20  100  57.608696             4317.0
Dress                             20  100  62.168675             4407.0
Gloves                            21   99  60.550000             3702.0
Handbag                           21  100  57.888889             3775.0
Hat                               20   98  60.960784             3872.0
Hoodie                            20  100  58.059603             3673.0
Jacket                            20  100  56.742331             3769.0
Jeans                             20   99  60.870968             2663.0
Jewelry                           20  100  58.538012             4943.0
Pants                             20   99  59.005848             4302.0
Sandals                           20  100  57.500000             3869.0
Scarf                             20   99  60.898089             4205.0
Shirt                             20   99  61.244048             4293.0
Shoes                             20   99  61.600000             3790.0
Shorts                            20  100  60.082803             4088.0
Skirt                             20  100  59.506329             3925.0
Sneakers                          20  100  59.545455             3597.0
Socks                             20  100  58.188679             3965.0
Sunglasses                        20  100  59.931677             4121.0
Sweater                           20  100  57.695122             4199.0
T-shirt                           20  100  62.911565             3648.0


                     mean count
Item Purchased
Backpack        23.566434   143
Belt            24.080745   161
Blouse          26.851429   175
Boots           26.361111   144
Coat            26.813665   161
Dress           26.548193   166
Gloves          26.442857   140
Handbag         24.673203   153
Hat             25.307190   153
Hoodie          24.324503   151
Jacket          23.122699   163
Jeans           21.475806   124
Jewelry         28.906433   171
Pants           25.157895   171
Sandals         24.181250   160
Scarf           26.783439   157
Shirt           25.553571   168
Shoes           25.266667   150
Shorts          26.038217   157
Skirt           24.841772   158
Sneakers        25.153846   143
Socks           24.937107   159
Sunglasses      25.596273   161
Sweater         25.603659   164
T-shirt         24.816327   147

In [11]:
# Step 5
categories = df.groupby('Item Purchased')['Category'].nunique()
print(categories)

Item Purchased
Backpack      1
Belt          1
Blouse        3
Boots         1
Coat          1
Dress         1
Gloves        1
Handbag       1
Hat           1
Hoodie        1
Jacket        1
Jeans         1
Jewelry       1
Pants         1
Sandals       1
Scarf         1
Shirt         1
Shoes         1
Shorts        1
Skirt         1
Sneakers      1
Socks         1
Sunglasses    1
Sweater       1
T-shirt       1
Name: Category, dtype: int64

In [12]:
# Step 6
combined = group.copy()
combined['Categories '] = categories
print(combined)

               Purchase Amount (USD)                 Previous Purchases  \
                                 min  max       mean                sum
Item Purchased
Backpack                          20   99  60.391608             3370.0
Belt                              20  100  59.844720             3877.0
Blouse                            20  100  60.691429             4699.0
Boots                             21  100  62.625000             3796.0
Coat                              20  100  57.608696             4317.0
Dress                             20  100  62.168675             4407.0
Gloves                            21   99  60.550000             3702.0
Handbag                           21  100  57.888889             3775.0
Hat                               20   98  60.960784             3872.0
Hoodie                            20  100  58.059603             3673.0
Jacket                            20  100  56.742331             3769.0
Jeans                             20   99  60.870968             2663.0
Jewelry                           20  100  58.538012             4943.0
Pants                             20   99  59.005848             4302.0
Sandals                           20  100  57.500000             3869.0
Scarf                             20   99  60.898089             4205.0
Shirt                             20   99  61.244048             4293.0
Shoes                             20   99  61.600000             3790.0
Shorts                            20  100  60.082803             4088.0
Skirt                             20  100  59.506329             3925.0
Sneakers                          20  100  59.545455             3597.0
Socks                             20  100  58.188679             3965.0
Sunglasses                        20  100  59.931677             4121.0
Sweater                           20  100  57.695122             4199.0
T-shirt                           20  100  62.911565             3648.0

                                Categories
                     mean count
Item Purchased
Backpack        23.566434   143           1
Belt            24.080745   161           1
Blouse          26.851429   175           3
Boots           26.361111   144           1
Coat            26.813665   161           1
Dress           26.548193   166           1
Gloves          26.442857   140           1
Handbag         24.673203   153           1
Hat             25.307190   153           1
Hoodie          24.324503   151           1
Jacket          23.122699   163           1
Jeans           21.475806   124           1
Jewelry         28.906433   171           1
Pants           25.157895   171           1
Sandals         24.181250   160           1
Scarf           26.783439   157           1
Shirt           25.553571   168           1
Shoes           25.266667   150           1
Shorts          26.038217   157           1
Skirt           24.841772   158           1
Sneakers        25.153846   143           1
Socks           24.937107   159           1
Sunglasses      25.596273   161           1
Sweater         25.603659   164           1
T-shirt         24.816327   147           1

In [13]:
# step 7 print the result
print(combined.head())

               Purchase Amount (USD)                 Previous Purchases  \
                                 min  max       mean                sum
Item Purchased
Backpack                          20   99  60.391608             3370.0
Belt                              20  100  59.844720             3877.0
Blouse                            20  100  60.691429             4699.0
Boots                             21  100  62.625000             3796.0
Coat                              20  100  57.608696             4317.0

                                Categories
                     mean count
Item Purchased
Backpack        23.566434   143           1
Belt            24.080745   161           1
Blouse          26.851429   175           3
Boots           26.361111   144           1
Coat            26.813665   161           1